.main_area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.keycode_display {
  display: none;
}

.keycode_display h2 {
  font-size: 17rem;
}

.card-title {
  font-size: 2rem;
}
